<section class="card">
  <header>{{recipe_name}}</header>
  <div>{{description}}</div>
  <div>{{ingredients}}</div>
  <div>{{steps}}</div>
  <div>{{img_name}}</div>
</section>

{{!-- 
<section class="recipe-list">
  <a href="/recipes/1">{{recipe_name}}</a>
</section>

<section class="cb-card-sm">
  <h2 class="recipe-card-title">{{cookbook_name}}</h2>
  <h2><i class="fa-solid fa-book-open"></i></h2>
  {{!-- <img src="" class="recipe-img"> --}}
  <div class="cb-descr">{{description}}</div>
</section>
 --}}
