<section class="recipe-little-card">
  <a href="/recipes/1" class="recipe-card-title">
    {{recipe_name}}
    </a>
  <div class="regular-font"><br>
    <div class="recipe-img">{{img_name}}</div><br>
    <div class="cb-descr">{{description}}</div><br>
    
    {{!-- <div>{{ingredients}}</div>
    <div>{{steps}}</div> --}}
    </div><br> 
</section>



